<p class='notice text-center my-3'><%= notice %></p>
<p class='alert text-center'><%= alert %></p>
<div id='auth-form' class="container">
<h2 class='text-center'><%= 'Войти'%></h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:'form-control' %>
  </div>

  <div class="actions mt-4">
    <%= f.submit 'Войти', class:'btn btn-primary',style:'width: 210px;' %>
  </div>
<% end %>
</div>